@charset 'utf-8';
@import '../scss/utility.scss';


body{
    header{
        div{
            position: fixed;
            top: 0px;
            background-color: #000;
            width: 100%;
            label{
                color: antiquewhite;
                margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 30px;
            }
        }
    }
    main{
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        section{
            #main-sec-btn{
                display: block;
                width: 200px;
                height: 40px;
                font-size: 20px;
            }
        }
        section{
            div{
                button{
                    font-size: 20px;
                    padding: 0px 30px;
                    height: 40px;
                }
            }
        }
    }
}